a ='АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмнопрстуфхцчшщъыьэюя'
while True:
    v = input('Какое действие выполнить? (зашифровать/расшифровать): ')
    if v == 'зашифровать':
        v = 1
    elif  v == 'расшифровать':
        v = -1
    else:
        print("Ошибка в вводе действия.")
        break
    string = input('Введите текст большими и/или маленькими буквами: ')
    if string == '0':
        break
    n = int(input('Введите шаг смещения: '))
    out = ''
    for i in range(len(string)):
        try:
            ind = a.index(string[i])
            out += a[(ind+n*v)%66]
        except ValueError:
                try:
                    i = a.index(string[i])
                    out += a[(ind+n*v)%66]
                except ValueError:
                    out += string[i]

    print(out)
    break


