a ='АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмнопрстуфхцчшщъыьэюя'
while True:
    v = input('Какое действие выполнить? (зашифровать/расшифровать): ')
    if v == 'зашифровать':
        v = 1
    elif  v == 'расшифровать':
        v = -1
    string = input('Введите текст большими и/или маленькими буквами: ')
    if string == '0':
        break
    n = int(input('Введите шаг смещения: '))
    out = ''
